h1 {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 32px;
  color: var(--grey-900)
}

h2 {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--grey-900)
}

.subtitle1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: var(--grey-900);
}

.caption {
  font-weight: 500;
  font-size: 12px;
}

span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
